{% if ospf_priority_enable -%}
interface Vlan 1
    ip ospf priority {{ospf_priority}}
{% endif %}
router ospf {{ospf_process_id}}
    passive-interface default
    {% for item in interface_list -%}
    no passive-interface {{ item }}
    {% endfor -%}
    {%- for item in ospf_routes -%} 
    network {{ item }} area 0.0.0.0
    {% endfor -%}
    max-lsa 12000
